<!DOCTYPE html>
<<<<<<< HEAD
<html lang=en-US class=no-js>
<head>
    <meta charset=UTF-8>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    
    <meta name="author" content="{% block author %}{% endblock %}">

    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{% endblock %}">
    <meta property="og:type" content="{% block og_content_type %}{% endblock %}">

    <meta name="twitter:card" content="{% block twitter_type %}{% endblock %}">
    <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{% endblock %}">
    <meta name="twitter:site" content="{% block twitter_account %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block jsonld %}{% endblock %}

    {{ domainData.SITE_HEAD_CODE|raw }}

    <link rel=stylesheet href='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/goodlayers-core/plugins/combine/style.css' type=text/css media=all>
    <link rel=stylesheet href='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/goodlayers-core/include/css/page-builder.css' type=text/css media=all>
    
    <link rel=stylesheet href='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/zilla-likes/styles/zilla-likes.css' type=text/css media=all>
    <link rel=stylesheet href='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}css/style-core.css' type=text/css media=all>
    <link rel=stylesheet href='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}css/akea-style-custom.css' type=text/css media=all>


    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C600%2C700%2C800' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Montserrat' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=PT+Serif' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Open+Sans' type=text/css media=all>
    <link rel=stylesheet href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPT+Serif%3Aregular%2Citalic%2C700%2C700italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=latin%2Clatin-ext%2Cdevanagari%2Ccyrillic-ext%2Cvietnamese%2Ccyrillic%2Cgreek-ext%2Cgreek' type=text/css media=all>


</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js akea-body akea-body-front akea-full  akea-with-sticky-navigation  akea-blockquote-style-1 gdlr-core-link-to-lightbox">
{{ domainData.SITE_POST_BODY_CODE|raw }}
<div class=akea-mobile-header-wrap>
    <div class="akea-mobile-header akea-header-background akea-style-slide akea-sticky-mobile-navigation " id=akea-mobile-header>
        <div class="akea-mobile-header-container akea-container clearfix">
            <div class="akea-logo  akea-item-pdlr">
                <div class=akea-logo-inner>
                    <a class href="{{ domainData.SITE_WEB }}"><img src={{ domainData.SITE_CONFIGURATIONS.logo_male.value }} alt width=140 height=33 title=logo-2></a>
                </div>
            </div>
            <div class=akea-mobile-menu-right>
                <div class=akea-main-menu-search id=akea-mobile-top-search><i class="fa fa-search"></i></div>
                <div class=akea-top-search-wrap>
                    <div class=akea-top-search-close></div>
                    <div class=akea-top-search-row>
                        <div class=akea-top-search-cell>
                            <form role=search method=get class=search-form action=#>
                            <input type=text class="search-field akea-title-font" placeholder=Hledat... value name=s>
                            <div class=akea-top-search-submit><i class="fa fa-search"></i></div>
                            <input type=submit class=search-submit value=Search>
                            <div class=akea-top-search-close><i class=icon_close></i></div>
                            </form>
                        </div>
                    </div>
                </div>

              {% include 'inc/mobilNavig.twig' %}	  
            </div>
        </div>
    </div>
</div>
<div class="akea-body-outer-wrapper ">
    <div class="akea-body-wrapper clearfix  akea-with-frame">
{% include 'inc/navig.twig' %}	
{% block titleBlok %}{% endblock %}
<div class=akea-page-wrapper id=akea-page-wrapper>
{% block obsah %}
{% endblock %}
</div>
=======
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Laralink">
  <!-- Page Title -->
  <title>{% block title %}{% endblock %}</title>
  <!-- Favicon Icon -->
  <link rel="icon" href="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/img/favicon.png" />
  <!-- Stylesheets -->
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6LdJXWAqAAAAAO9xakmUctOwL9Z9jjDxSpeaaHuL"></script>
  <link rel="stylesheet" href="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/css/fontawesome.css" />
  <link rel="stylesheet" href="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/css/slick.css" />
  <link rel="stylesheet" href="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/css/lightgallery.min.css" />
  <link rel="stylesheet" href="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/css/animate.css" />
  <link rel="stylesheet" href="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/css/style.css" />
</head>

{% include 'inc/navig.twig' %}	
{% block obsah %}
{% endblock %}
>>>>>>> b494363 (init)
{% include 'inc/foot.twig' %}		
