<div id=text-4 class="widget widget_text akea-widget">
    <h3 class="akea-widget-title"><span class=akea-widget-head-text>{{ domainData.SITE_CONFIGURATIONS.aboutme_h3.value }}</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
    <div class=textwidget>
        <p><img class="alignnone size-full wp-image-6650" src="{{ domainData.SITE_CONFIGURATIONS.abutme_img_url.value }}" alt width=120>
            <br> {{ domainData.SITE_CONFIGURATIONS.aboutme.value }}</p> <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-transparent gdlr-core-button-with-border" href='{{ domainData.SITE_CONFIGURATIONS.aboutme_url.value }}' target=_blank style="font-size: 15px ;color: #ec6a2a ;padding: 0px;text-transform: none ;margin-right: 20px;border-width: 0px;" rel="noopener noreferrer"><span class=gdlr-core-content >{{ domainData.SITE_CONFIGURATIONS.aboutme_link_name.value }}</span><i class="gdlr-core-pos-right arrow_right"  ></i></a></div>
</div>