<<<<<<< HEAD
        <footer>
            <div class="akea-footer-wrapper ">
                <div class="akea-footer-container akea-container clearfix">
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=text-2 class="widget widget_text akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>{{ domainData.SITE_CONFIGURATIONS.foot_name.value|raw }}</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            <div class=textwidget>
                                <p>{{ domainData.SITE_CONFIGURATIONS.foot_address.value }}
                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_6"></span>
                                    <br> {{ domainData.SITE_CONFIGURATIONS.telephone.value }}
                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_7"></span>
                                    <br> <a id="a_2207_30" href=mailto:{{ domainData.SITE_CONFIGURATIONS.email.value }}>{{ domainData.SITE_CONFIGURATIONS.email.value }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=gdlr-core-custom-menu-widget-2 class="widget widget_gdlr-core-custom-menu-widget akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Kategorie</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            <div class=menu-category-container>
                                <ul id=menu-category class="gdlr-core-custom-menu-widget gdlr-core-menu-style-half">
                                {% for footNav in pureNavigation[0] %}
                                    <li class="menu-item"><a href="{{ domainData.SITE_WEB }}/{{ footNav.url }}" title="{{ footNav.meta.title }}" >{{ footNav.title }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=text-3 class="widget widget_text akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Sledujte nás</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            
                            <div class=textwidget>
                                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_16">
                                    {% if domainData.SITE_CONFIGURATIONS.facebook_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.facebook_url.value }}" target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_31" rel="noopener noreferrer"  style="text-decoration: none;">
                                        <i class="fa fa-facebook" ></i>
                                    </a>
                                    {% endif %}
                                    {% if domainData.SITE_CONFIGURATIONS.pinterest_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.pinterest_url.value }}" target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_32" rel="noopener noreferrer" style="text-decoration: none;">
                                        <i class="fa fa-pinterest-p" ></i>
                                    </a>
                                    {% endif %}
                                    {% if domainData.SITE_CONFIGURATIONS.twitter_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.twitter_url.value }}" target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_34"  rel="noopener noreferrer" style="text-decoration: none;">
                                        <i class="fa fa-twitter" ></i>
                                    </a>
                                    {% endif %}
                                    {% if domainData.SITE_CONFIGURATIONS.instagram_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.instagram_url.value }}" target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_35" rel="noopener noreferrer" style="text-decoration: none;">
                                        <i class="fa fa-instagram" ></i>
                                    </a>
                                    {% endif %}
                                    {% if domainData.SITE_CONFIGURATIONS.linkedin_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.linkedin_url.value }}" target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_35" rel="noopener noreferrer" style="text-decoration: none;">
                                        <i class="fa fa-linkedin" ></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=akea-copyright-wrapper>
                <div class="akea-copyright-container akea-container clearfix">
                    <div class="akea-copyright-left akea-item-pdlr">{{ domainData.SITE_CONFIGURATIONS.copyright.value|raw }}</div>
                    <div class="akea-copyright-right akea-item-pdlr">
                    {% for footNav in pureNavigation[4] %}
                        <a href="{{ domainData.SITE_WEB }}/{{ footNav.url }}" title="{{ footNav.meta.title }}" >{{ footNav.title }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div><a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up" ></i></a>
<div class="akea-footer-recent-post-button " id=akea-footer-recent-post-button><i class=icon_plus></i></div>
<div class="akea-footer-recent-post-bar " id=akea-footer-recent-post-bar>
    <div class=akea-footer-recent-post-bar-close><i class=icon_minus-06></i></div>
    <div class="akea-footer-recent-post-bar-container akea-container clearfix">
        <h3 class="akea-footer-recent-post-bar-title">{{ domainData.SITE_CONFIGURATIONS.new_stories.value }}</h3>
        <div class="akea-recent-post-bar-wrap clearfix">
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/post-vr-150x150.jpg alt width=150 height=150 title=post-vr></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/max-bender-580753-unsplash-150x150.jpg alt width=150 height=150 title=max-bender-580753-unsplash></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/juja-han-456323-unsplash-150x150.jpg alt width=150 height=150 title=juja-han-456323-unsplash></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/yiran-ding-624696-unsplash-150x150.jpg alt width=150 height=150 title=yiran-ding-624696-unsplash></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/christopher-burns-271403-unsplash-150x150.jpg alt width=150 height=150 title=christopher-burns-271403-unsplash></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/pexels-photo-736166-150x150.jpg alt width=150 height=150 title=pexels-photo-736166></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/pexels-photo-871053-150x150.jpg alt width=150 height=150 title=pexels-photo-871053></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/pexels-photo-25284-150x150.jpg alt width=150 height=150 title=pexels-photo-25284></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/pexels-photo-225227-150x150.jpg alt width=150 height=150 title=pexels-photo-225227></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/hugues-de-buyer-mimeure-335733-unsplash-150x150.jpg alt width=150 height=150 title=hugues-de-buyer-mimeure-335733-unsplash></a>
            </div>
        </div>
    </div>
</div>

<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}js/jquery/jquery.js'></script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}js/jquery/jquery-migrate.min.js'></script>
<script>
    var zilla_likes = {
        "ajaxurl": ""
    };
</script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/zilla-likes/scripts/zilla-likes.js'></script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/goodlayers-core/plugins/combine/script.js'></script>
<script>
    var gdlr_core_pbf = {
        "admin": "",
        "video": {
            "width": "640",
            "height": "360"
        },
        "ajax_url": "#"
    };
</script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/goodlayers-core/include/js/page-builder.js'></script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}js/jquery/ui/effect.min.js'></script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}js/script-core.js'></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Definice fragmentu kódu, který chceme vložit
    var newMenuItemHtml = `<li class="akea-center-nav-menu-item">
                                <div class="akea-above-logo">
                                    <a href="{{ domainData.SITE_WEB }}"><img src="{{ domainData.SITE_CONFIGURATIONS.logo_velke.value }}" alt="" width="348" height="252" title="logo-1"></a>
                                </div>
                                <div class="akea-logo akea-item-pdlr">
                                    <div class="akea-logo-inner">
                                        <a href="{{ domainData.SITE_WEB }}"><img src="{{ domainData.SITE_CONFIGURATIONS.logo_male.value }}" alt="" width="140" height="33" title="logo-2"></a>
                                    </div>
                                </div>
                            </li>`;

    // Získání reference na menu, ve kterém chceme vložit nový prvek
    var menu = document.querySelector('.sf-menu');

    // Vytvoření nového elementu (li) z HTML fragmentu
    var newMenuItem = document.createElement('li');
    newMenuItem.innerHTML = newMenuItemHtml;

    // Najdeme pozici, na kterou chceme nový element vložit
    // (Předpokládáme, že chceme vložit po třetím prvku, tedy na index 3, protože indexace začíná od 0)
    var insertPosition = menu.children[3];

    // Vložení nového prvku do menu před zadanou pozicí
    menu.insertBefore(newMenuItem, insertPosition);
});

function shareOnFacebook() {
            const articleURL = window.location.href; // URL aktuální stránky
            const facebookShareURL = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(articleURL)}`;
            window.open(facebookShareURL, 'facebook-share-dialog', 'width=800,height=600');
            return false;
        }

        function shareOnTwitter() {
            const articleURL = window.location.href; // URL aktuální stránky
            const articleTitle = document.querySelector('h1').innerText; // Titulek článku
            const twitterShareURL = `https://twitter.com/intent/tweet?url=${encodeURIComponent(articleURL)}&text=${encodeURIComponent(articleTitle)}`;
            window.open(twitterShareURL, 'twitter-share-dialog', 'width=800,height=600');
            return false;
        }

        function shareOnPinterest() {
            const articleURL = window.location.href; // URL aktuální stránky
            const articleImage = 'URL_OBRÁZKU'; // URL obrázku článku
            const articleDescription = document.querySelector('h1').innerText; // Titulek článku jako popis
            const pinterestShareURL = `https://pinterest.com/pin/create/button/?url=${encodeURIComponent(articleURL)}&media=${encodeURIComponent(articleImage)}&description=${encodeURIComponent(articleDescription)}`;
            window.open(pinterestShareURL, 'pinterest-share-dialog', 'width=800,height=600');
            return false;
        }
</script>
{{ domainData.SITE_PRE_END_BODY_CODE|raw }}
</body>
</html>
=======
  
  <!-- Start Blog Seciton -->
  <section id="blog">
    <div class="st-height-b100 st-height-lg-b80"></div>
    <div class="container">
      <div class="st-section-heading st-style1">
        <h4 class="st-section-heading-title">BLOG</h4>
        <h2 class="st-section-heading-subtitle">NEJNOVĚJŠÍ</h2>
      </div>
      <div class="st-height-b25 st-height-lg-b25"></div>
    </div>

    <!-- Latest News Container -->

    <div class="container">
      <div class="st-slider st-style2">
        <div class="slick-container" data-autoplay="0" data-loop="1" data-speed="600" data-center="0"
          data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2" data-md-slides="3"
          data-lg-slides="3" data-add-slides="3">
          <div class="slick-wrapper">
          {% for post in newArticles %}
            <div class="slick-slide-in">
              <div class="st-post-single st-style1">
                <a href="{{ post.url }}" class="st-post-thumb st-zoom">
                  <img src="{{ post.images.images.articleDetail.varianta.galleryThumbnail.public_url }}" class="st-zoom-in" alt="blog3">
                </a>
                <div class="st-post-info">
                  <div class="st-post-date">
                    Napsal:
                    <a href="#" class="st-post-author">Zdeněk</a>
                    <span class="st-post-date-divider">|</span>
                    <span class="st-post-publish-date">{{ post.publish_at|date("d. m. Y") }}</span>
                  </div>
                  <h4 class="st-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                </div>
              </div>
            </div><!-- .slick-slide-in -->
          {% endfor %}  
            
          </div>
        </div><!-- .slick-container -->
        <div class="pagination st-style1 st-flex"></div>
        <!-- If dont need Pagination then add class .st-hidden -->
      </div><!-- .st-slider -->
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
          <div class="st-portfolio-btn">
            <a href="http://loc-dom2.cz/blog/" id="loadPortfolio" class="st-btn st-style1 st-color1">Více článků z blogu</a>
          </div>
        </div>
      </div>
    <div class="st-height-b95 st-height-lg-b75"></div>
  </section>
  <!-- End Blog Seciton -->

  <!-- Start Contact Seciton -->
  <section id="contact" class="st-dark-bg">
    <div class="st-height-b100 st-height-lg-b80"></div>
    <div class="container">
      <div class="st-section-heading st-style1">
        <h4 class="st-section-heading-title">KONTAKTUJTE MNE</h4>
        <h2 class="st-section-heading-subtitle">KONTAKTUJTE MNE</h2>
      </div>
      <div class="st-height-b25 st-height-lg-b25"></div>
    </div>

    <!-- Contact Container -->

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="st-contact-title">Prostě jen napište...</h3>
          <div id="st-alert"></div>
          <form action="/submitForm" method="POST" class="st-contact-form" id="contact-form">
            <input type="hidden" name="form_id" value="1"> <!-- ID formuláře -->
            <div class="st-form-field">
              <input type="text" id="email" name="email" placeholder="Váš email" required>
            </div>
            <div class="st-form-field">
              <textarea cols="30" rows="10" id="msg" name="msg" placeholder="Vaše zpráva" required></textarea>
            </div>
            <!-- Skrytý input pro uložení tokenu -->
            <!-- <input type="hidden" id="recaptcha-token" name="g-recaptcha-response"> -->
            <button class="st-btn st-style1 st-color1 g-recaptcha" type="submit" id="submit" name="submit" data-sitekey="6LdJXWAqAAAAAO9xakmUctOwL9Z9jjDxSpeaaHuL"
            data-callback='onSubmit'
            data-action='mailsend'>Odeslat zprávu</button>
          </form>
        </div>
        <div class="st-height-b0 st-height-lg-b30"></div>

        <div class="col-lg-6">
          <div class="st-height-b0 st-height-lg-b40"></div>
          <h3 class="st-contact-title">Kontaktní informace</h3>
          <div class="st-contact-text">
            Napište mi, sejdeme se, nebo dáme webcall a nezávazně si popovídáme o tom, co potřebujete řešit. Podle toho zjistíme, jestli má spolupráce smysl.
          </div>
          <div class="st-contact-info-wrap">
            <div class="st-single-contact-info">
              <i class="fas fa-envelope"></i>
              <div class="st-single-info-details">
                <h4>Email</h4>
                <a href="mailto:jsem@seo-master.cz">jsem@seo-master.cz</a>
                <a href="mailto:zdenek.klusak@gmail.com">zdenek.klusak@gmail.com</a>
              </div>
            </div>
            <div class="st-single-contact-info">
              <i class="fas fa-phone-alt"></i>
              <div class="st-single-info-details">
                <h4>Telefon</h4>
                <span><a href="tel:+420732182694">+420 732 182 694</a></span>
              </div>
            </div>
            <div class="st-single-contact-info">
              <i class="fas fa-map-marker-alt"></i>
              <div class="st-single-info-details">
                <h4>Adresa</h4>
                <span>Rašov 15 <br>Rašov, 679 23</span>
              </div>
            </div>
            <div class="st-social-info">
              <div class="st-social-text">Podívejte se na mé sociální sítě</div>
              <div class="st-social-link">
                <a href="#" class="st-social-btn active">
                  <span class="st-social-icon"><i class="fab fa-dribbble"></i></span>
                  <span class="st-icon-name">Dribbble</span>
                </a>
                <a href="#" class="st-social-btn">
                  <span class="st-social-icon"><i class="fab fa-behance"></i></span>
                  <span class="st-icon-name">Behance</span>
                </a>
                <a href="#" class="st-social-btn">
                  <span class="st-social-icon"><i class="fab fa-twitter"></i></span>
                  <span class="st-icon-name">Twitter</span>
                </a>
                <a href="#" class="st-social-btn">
                  <span class="st-social-icon"><i class="fab fa-linkedin"></i></span>
                  <span class="st-icon-name">LinkedIn</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="st-height-b100 st-height-lg-b80"></div>
  </section>
  <!-- End Contact Seciton -->

  <!-- Start Footer Seciton -->
  <footer>
    <div class="container">
      <div class="st-copyright-wrap text-center">
        <div class="st-copyright-text">© 2020. Designed by Laralink. All right reserved.</div>
      </div>
    </div>
  </footer>
  <!-- End Footer Seciton -->

  <!-- Scripts -->
  <script src="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/js/jquery-1.12.4.min.js"></script>
  <script src="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/js/jquery.slick.min.js"></script>
  <script src="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/js/lightgallery.min.js"></script>
  <script src="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/js/wow.min.js"></script>
  <script src="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/js/ripples.min.js"></script>
  <script src="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/js/particles.min.js"></script>
  <script src="{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}assets/js/main.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
    function onSubmit(token) {
        // Nastav token do skrytého inputu, aby mohl být odeslán na server
        document.getElementById('recaptcha-token').value = token;
        // Odeslání formuláře
        document.getElementById('contact-form').submit();
    }
</script>

<script src="https://www.google.com/recaptcha/enterprise.js?render=6LdJXWAqAAAAAO9xakmUctOwL9Z9jjDxSpeaaHuL"></script>

</body>
</html>
>>>>>>> b494363 (init)
