        <footer>
            <div class="akea-footer-wrapper ">
                <div class="akea-footer-container akea-container clearfix">
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=text-2 class="widget widget_text akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>{{ domainData.SITE_CONFIGURATIONS.foot_name.value|raw }}</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            <div class=textwidget>
                                <p>{{ domainData.SITE_CONFIGURATIONS.foot_address.value }}
                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_6"></span>
                                    <br> {{ domainData.SITE_CONFIGURATIONS.telephone.value }}
                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_7"></span>
                                    <br> <a id="a_2207_30" href=mailto:{{ domainData.SITE_CONFIGURATIONS.email.value }}>{{ domainData.SITE_CONFIGURATIONS.email.value }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=gdlr-core-custom-menu-widget-2 class="widget widget_gdlr-core-custom-menu-widget akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Kategorie</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            <div class=menu-category-container>
                                <ul id=menu-category class="gdlr-core-custom-menu-widget gdlr-core-menu-style-half">
                                {% for footNav in pureNavigation[0] %}
                                    <li class="menu-item"><a href="{{ domainData.SITE_WEB }}/{{ footNav.url }}" title="{{ footNav.meta.title }}" >{{ footNav.title }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=text-3 class="widget widget_text akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Sledujte nás</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            
                            <div class=textwidget>
                                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_16">
                                    {% if domainData.SITE_CONFIGURATIONS.facebook_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.facebook_url.value }}" target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_31" rel="noopener noreferrer"  style="text-decoration: none;">
                                        <i class="fa fa-facebook" ></i>
                                    </a>
                                    {% endif %}
                                    {% if domainData.SITE_CONFIGURATIONS.pinterest_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.pinterest_url.value }}" target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_32" rel="noopener noreferrer" style="text-decoration: none;">
                                        <i class="fa fa-pinterest-p" ></i>
                                    </a>
                                    {% endif %}
                                    {% if domainData.SITE_CONFIGURATIONS.twitter_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.twitter_url.value }}" target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_34"  rel="noopener noreferrer" style="text-decoration: none;">
                                        <i class="fa fa-twitter" ></i>
                                    </a>
                                    {% endif %}
                                    {% if domainData.SITE_CONFIGURATIONS.instagram_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.instagram_url.value }}" target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_35" rel="noopener noreferrer" style="text-decoration: none;">
                                        <i class="fa fa-instagram" ></i>
                                    </a>
                                    {% endif %}
                                    {% if domainData.SITE_CONFIGURATIONS.linkedin_url.value is not empty %}
                                    <a href="{{ domainData.SITE_CONFIGURATIONS.linkedin_url.value }}" target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_35" rel="noopener noreferrer" style="text-decoration: none;">
                                        <i class="fa fa-linkedin" ></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=akea-copyright-wrapper>
                <div class="akea-copyright-container akea-container clearfix">
                    <div class="akea-copyright-left akea-item-pdlr">{{ domainData.SITE_CONFIGURATIONS.copyright.value|raw }}</div>
                    <div class="akea-copyright-right akea-item-pdlr">
                    {% for footNav in pureNavigation[4] %}
                        <a href="{{ domainData.SITE_WEB }}/{{ footNav.url }}" title="{{ footNav.meta.title }}" >{{ footNav.title }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div><a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up" ></i></a>
<div class="akea-footer-recent-post-button " id=akea-footer-recent-post-button><i class=icon_plus></i></div>
<div class="akea-footer-recent-post-bar " id=akea-footer-recent-post-bar>
    <div class=akea-footer-recent-post-bar-close><i class=icon_minus-06></i></div>
    <div class="akea-footer-recent-post-bar-container akea-container clearfix">
        <h3 class="akea-footer-recent-post-bar-title">{{ domainData.SITE_CONFIGURATIONS.new_stories.value }}</h3>
        <div class="akea-recent-post-bar-wrap clearfix">
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/post-vr-150x150.jpg alt width=150 height=150 title=post-vr></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/max-bender-580753-unsplash-150x150.jpg alt width=150 height=150 title=max-bender-580753-unsplash></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/juja-han-456323-unsplash-150x150.jpg alt width=150 height=150 title=juja-han-456323-unsplash></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/yiran-ding-624696-unsplash-150x150.jpg alt width=150 height=150 title=yiran-ding-624696-unsplash></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/christopher-burns-271403-unsplash-150x150.jpg alt width=150 height=150 title=christopher-burns-271403-unsplash></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/pexels-photo-736166-150x150.jpg alt width=150 height=150 title=pexels-photo-736166></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/pexels-photo-871053-150x150.jpg alt width=150 height=150 title=pexels-photo-871053></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/pexels-photo-25284-150x150.jpg alt width=150 height=150 title=pexels-photo-25284></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/pexels-photo-225227-150x150.jpg alt width=150 height=150 title=pexels-photo-225227></a>
            </div>
            <div class=akea-recent-post-bar-item>
                <div class=akea-recent-post-bar-shadow></div>
                <a href=#><img src=https://doctetese.cz/templates/doctetese.cz/upload/hugues-de-buyer-mimeure-335733-unsplash-150x150.jpg alt width=150 height=150 title=hugues-de-buyer-mimeure-335733-unsplash></a>
            </div>
        </div>
    </div>
</div>

<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}js/jquery/jquery.js'></script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}js/jquery/jquery-migrate.min.js'></script>
<script>
    var zilla_likes = {
        "ajaxurl": ""
    };
</script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/zilla-likes/scripts/zilla-likes.js'></script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/goodlayers-core/plugins/combine/script.js'></script>
<script>
    var gdlr_core_pbf = {
        "admin": "",
        "video": {
            "width": "640",
            "height": "360"
        },
        "ajax_url": "#"
    };
</script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}plugins/goodlayers-core/include/js/page-builder.js'></script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}js/jquery/ui/effect.min.js'></script>
<script src='{{ domainData.SITE_WEB }}/{{ domainData.SITE_TEMPLATE_DIR }}js/script-core.js'></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Definice fragmentu kódu, který chceme vložit
    var newMenuItemHtml = `<li class="akea-center-nav-menu-item">
                                <div class="akea-above-logo">
                                    <a href="{{ domainData.SITE_WEB }}"><img src="{{ domainData.SITE_CONFIGURATIONS.logo_velke.value }}" alt="" width="348" height="252" title="logo-1"></a>
                                </div>
                                <div class="akea-logo akea-item-pdlr">
                                    <div class="akea-logo-inner">
                                        <a href="{{ domainData.SITE_WEB }}"><img src="{{ domainData.SITE_CONFIGURATIONS.logo_male.value }}" alt="" width="140" height="33" title="logo-2"></a>
                                    </div>
                                </div>
                            </li>`;

    // Získání reference na menu, ve kterém chceme vložit nový prvek
    var menu = document.querySelector('.sf-menu');

    // Vytvoření nového elementu (li) z HTML fragmentu
    var newMenuItem = document.createElement('li');
    newMenuItem.innerHTML = newMenuItemHtml;

    // Najdeme pozici, na kterou chceme nový element vložit
    // (Předpokládáme, že chceme vložit po třetím prvku, tedy na index 3, protože indexace začíná od 0)
    var insertPosition = menu.children[3];

    // Vložení nového prvku do menu před zadanou pozicí
    menu.insertBefore(newMenuItem, insertPosition);
});

function shareOnFacebook() {
            const articleURL = window.location.href; // URL aktuální stránky
            const facebookShareURL = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(articleURL)}`;
            window.open(facebookShareURL, 'facebook-share-dialog', 'width=800,height=600');
            return false;
        }

        function shareOnTwitter() {
            const articleURL = window.location.href; // URL aktuální stránky
            const articleTitle = document.querySelector('h1').innerText; // Titulek článku
            const twitterShareURL = `https://twitter.com/intent/tweet?url=${encodeURIComponent(articleURL)}&text=${encodeURIComponent(articleTitle)}`;
            window.open(twitterShareURL, 'twitter-share-dialog', 'width=800,height=600');
            return false;
        }

        function shareOnPinterest() {
            const articleURL = window.location.href; // URL aktuální stránky
            const articleImage = 'URL_OBRÁZKU'; // URL obrázku článku
            const articleDescription = document.querySelector('h1').innerText; // Titulek článku jako popis
            const pinterestShareURL = `https://pinterest.com/pin/create/button/?url=${encodeURIComponent(articleURL)}&media=${encodeURIComponent(articleImage)}&description=${encodeURIComponent(articleDescription)}`;
            window.open(pinterestShareURL, 'pinterest-share-dialog', 'width=800,height=600');
            return false;
        }
</script>
{{ domainData.SITE_PRE_END_BODY_CODE|raw }}
</body>
</html>