{% for post in newArticles %}
    <div class="gdlr-core-recent-post-widget clearfix">
        <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image">
            <a class="gdlr-core-lightgallery gdlr-core-js " href={{ post.images.images.articleDetail.varianta.banner.public_url }}><img src={{ post.images.images.articleDetail.varianta.galleryThumbnail.public_url }} alt="{{ post.images.images.articleDetail.alt }}" width=500 title="{{ post.images.images.articleDetail.title }}"></a>
            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category">
                {% for catTag in post.categories %}
                    {% if catTag.id == post.meta.mainCatid %}<a href="{{ catTag.url }}" rel=tag>{{ catTag.title }}</a>{% endif %}
                {% endfor %}
            </span>
        </div>
        <div class=gdlr-core-recent-post-widget-content>
            <div class="gdlr-core-recent-post-widget-title gdlr-core-title-font"><a href={{ post.url }}>{{ post.title }}</a></div>
            <div class=gdlr-core-recent-post-widget-info>
                {#<span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><img alt src='https://doctetese.cz/templates/doctetese.cz/upload/avatar.jpeg'  class='avatar avatar-50 photo' height=50 width=50><a href=# title="Posts by Jane Smith" rel=author>Jane Smith</a></span>#}
                <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a href=#>{{ post.publish_at|date("d. m. Y") }}</a></span>
            </div>
        </div>
    </div>
{% endfor %}