
{% for post in sliderArticles %}
<li>
    <div class=gdlr-core-post-slider-slide>
        <div class="gdlr-core-post-slider-image gdlr-core-media-image">
<<<<<<< HEAD
            <a href=#><img src="{{ post.images.images.articleDetail.varianta.banner.public_url }}" alt="{{ post.images.images.articleDetail.alt }}" width=1500 height=635 title={{ post.images.images.articleDetail.title }}><span class=gdlr-core-post-slider-overlay id="span_2207_0"></span></a>
=======
            <a href=#><img src="{{ post.images.images.articleDetail.varianta.banner.public_url }}" alt="{{ post.images.images.articleDetail.varianta.banner.image_name }}" width=1500 height=635 title={{ post.images.images.articleDetail.varianta.banner.image_name }}><span class=gdlr-core-post-slider-overlay id="span_2207_0"></span></a>
>>>>>>> b494363 (init)
        </div>
        <div class="gdlr-core-post-slider-caption gdlr-core-center-align">
            <h3 class="gdlr-core-post-slider-title" id="h3_2207_0"><a href={{ post.url }} >{{ post.title }}</a></h3>
            <div class=gdlr-core-post-slider-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class=gdlr-core-blog-info-sep >/</span><a href=#>{{ post.publish_at|date("d. m. Y") }}</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class=gdlr-core-blog-info-sep >/</span><a href=# title="Posts by Paul Newman" rel=author>Paul Newman</a></span>
            </div>
        </div>
    </div>
</li>
{% endfor %}